doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
    // SEARCH FORM
    form.form-inline.ml-3
      .input-group.input-group-sm
        input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
        .input-group-append
          button.btn.btn-navbar(type='submit')
            i.fas.fa-search
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Chi tiết phim chiếu
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý phim chiếu
              li.breadcrumb-item
                a(href='#') Danh sách phim chiếu
              li.breadcrumb-item.active 
                a(href='#') Chi tiết phim
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
        .row
          .col-md-5(style="display: flex;  align-items: center;justify-content: center;")
            img(src=(phim.Hinh && phim.Hinh != "" ? phim.Hinh : 'https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'), alt="photo",width="300",height="450", style="text-align: center;")
          .col-lg-7
           .card(style)
            .card-body
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") ID Phim:
                    input.form-control(value=phim.ID  , disabled ,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Tên Phim:
                    input.form-control(value=phim.TenPhim, disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Hình Phim:
                    input.form-control(value =phim.Hinh  ,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Trạng thái:
                    input.form-control(value=phim.TrangThai,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Thời lượng:
                    input.form-control(value=phim.ThoiGian + " phút",disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") ID Trailer:
                    input.form-control(value= phim.Trailer,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Ngày khởi chiếu:
                    input.form-control(value=phim.NgayKhoiChieu,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Ngày kết thúc:
                    input.form-control(value=phim.NgayKetThuc,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Nhà cung cấp:
                    input.form-control(value=phim.TenNhaCungCap,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
        br
        br
        h3 Mô tả của phim 
        p= phim.MoTa

        iframe(width='100%', height='620', src='https://www.youtube.com/embed/'+phim.Trailer)
  


  
  

        
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
