doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Danh sách phim
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý phim
              li.breadcrumb-item.active 
                a(href='#') Danh sách phim
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      table.table
        thead
          tr
            th(scope='col') ID
            th(scope='col') Tên Phim
            th(scope='col') Poster
            th(scope='col') Trạng thái 
            th(scope='col') Thời gian 
            th(scope='col') Ngày công chiếu
            th(scope='col') Thao tác
        tbody
          each phim in dataphimchieu
            tr
              th(scope='row')=phim.ID
              td=phim.TenPhim
              td
                img(src=phim.Hinh, alt="photo", width=125, height=125)
              td=phim.TrangThai
              td=phim.ThoiGian + " phút"
              td=phim.NgayKhoiChieu
              td
                span 
                  a(href="/phim/chitietphim?idphim=" + phim.ID) Chi Tiết 
                span |
                span 
                  a(href="suaphim?idphim=" + phim.ID) Sửa
          br
      nav.paging-center(aria-label='Page navigation example')
        ul.pagination
          li.page-item
            a.page-link(href='#') Trang trước
          - for (var i = 1; i <= soluongtrang ; i++) {
                if i == pagerespon
                  li.page-item.active
                  a.page-link(href="danhsachphim?page=" + i)= i 
                else
                  li.page-item
                  a.page-link(href="danhsachphim?page=" + i)= i
          - } 
          li.page-item
            a.page-link(href='#') Trang kế   
     

      #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Thông báo
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              | Bạn có muốn xóa phim này hay không ?
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
              button.btn.btn-primary(type='button') Lưu thay đổi

    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
