doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Danh sách phim
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý phim
              li.breadcrumb-item.active 
                a(href='#') Danh sách phim
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      .row
        .col 
          .card.card-search
            .card-body
              .row
                .col-md-9
                  input.form-control(type='text', name="txtKeyWord", placeholder="Nhập từ khóa để tìm kiếm")
                .col-md-2 
                  button.btn.btn-success.btn-search(onclick="searchMovie(1)") Tìm kiếm
              br        
              .row
                .input-group.mb-3
                  .col-md-3
                    select#inputGroupSelect02.custom-select(name="dropdownTheLoaiPhim")
                        option(selected='', value='') Chọn thể loại phim
                        each itemTheLoaiPhim in datatheloai
                                      option(value=itemTheLoaiPhim.TenLoai)= itemTheLoaiPhim.TenLoai
                  .col-md-3
                    select#inputGroupSelect02.custom-select(name="dropdownQuocGia")
                        option(selected='',value='') Chọn quốc gia
                        each itemQuocGia in dataQuocGia
                                      option(value=itemQuocGia.TenQuocGia)= itemQuocGia.TenQuocGia
                  .col-md-3
                    select#inputGroupSelect02.custom-select(name="dropdownCinema")
                        option(selected='',value='') Chọn rạp chiếu
                        each itemCinema in dataCinema
                                      option(value=itemCinema.TenRapID)= itemCinema.TenRap
      .row
        .col-md-12
          .list-movie-container#listMovie
            each phim in dataphimchieu
              .card.card-movie
                .row
                  .col-md-3.img-movie-container 
                    img.card-img-movie(src=phim.Hinh, alt='Card image cap')
                  .col-md-9.content-movie-container
                    div
                      h2= phim.TenPhim
                    div
                      label Ngày khởi chiếu: &nbsp&nbsp
                      span.text-content-movie= phim.NgayKhoiChieu
                    div
                      label Ngày kết thúc: &nbsp&nbsp
                      span.text-content-movie= phim.NgayKetThuc
                    div
                      label Thời gian: &nbsp&nbsp
                      span.text-content-movie= `${phim.ThoiGian} phút`
                    div
                      label Trạng thái: &nbsp&nbsp
                      span.text-content-movie= phim.TrangThai
                    div
                      label Quốc gia: &nbsp&nbsp
                      span.text-content-movie= phim.TenQuocGia                    
                    .row 
                      .col-md-12.action-container     
                        a.btn.btn-info.btn-action(href="/phim/chitietphim?idphim=" + phim.ID) Xem chi tiết
                        a.btn.btn-primary.btn-action(href="suaphim?idphim=" + phim.ID) Sửa
                        button#linkDelete.btn.btn-danger.btn-action(onclick=`setIdMovie(${phim.ID})`, data-toggle='modal', data-target="#modalInforDelete") Xóa


      
      nav.paging-center(aria-label='Page navigation example')
        ul.pagination#listPage
          li.page-item
            a.page-link(href='#') Trang trước
          - for (var i = 1; i <= soluongtrang ; i++) {
                if i == pagerespon
                  li.page-item.active
                    a.page-link(href="danhsachphim?page=" + i)= i 
                else
                  li.page-item
                    a.page-link(href="danhsachphim?page=" + i)= i
          - } 
          li.page-item
            a.page-link(href='#') Trang kế

      #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content.dialog-loading
            .modal-body
              .d-flex.justify-content-center.align-item-center
                .spinner-border(role='status')
                  span.sr-only Loading...

      #modalInforDelete.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Thông báo
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              | Bạn có thật sự muốn xóa phim này không ?
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Hủy
              button.btn.btn-success(type='button', onclick="btnAccept()") Xác nhận

      #notifyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Thông báo
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              span#modalTextMessage= messNotify
            .modal-footer
              button.btn.btn-primary(type='button' id='btnOK') Ok
  
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
script(src="build/js/jsMovieSearch.js")
script(src="build/js/jsListMovie.js") 
