doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Điều chỉnh thông tin phim
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý phim chiếu
              li.breadcrumb-item.active 
                a(href='#') Điều chỉnh thông tin phim
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      form#formAddMovie(action="suattphim", method="post", ,enctype="multipart/form-data")    
        .card
            .card-body
              .row
                h5(style="font-weight:bold;") Thông tin của phim
              .row
                .col
                  .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Mã phim
                    input.form-control(value=phim.ID,name= "maphim", placeholder="Nhập tên phim",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default', readonly)
              .row
                .col
                  .input-group.mb-3
                        .input-group-prepend
                            span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Tên phim
                        input.form-control(value=phim.TenPhim,name= "txttenphim", placeholder="Nhập tên phim",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .col
                    .input-group.mb-3
                        .input-group-prepend
                            span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Ngày khởi chiếu
                        input.form-control(id="txtngaykhoichieu",value=phim.NgayKhoiChieu,name= "txtngaykhoichieu",type='date', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .col
                    .input-group.mb-3
                        .input-group-prepend
                            span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Ngày kết thúc
                        input.form-control(id="txtNgayKetThuc",value=phim.NgayKetThuc,name= "txtNgayKetThuc",type='date', aria-label='Default', aria-describedby='inputGroup-sizing-default')
              .row
                    .col
                        .input-group.mb-3
                            .input-group-prepend
                                span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Thời lượng
                            input.form-control(value=phim.ThoiGian,name="txtthoigian", type='number',min=1, aria-label='Default', aria-describedby='inputGroup-sizing-default')
                    .col
                        if phim.TrangThai == "Đang chiếu"
                          .input-group.mb-3
                              .input-group-prepend
                                  label.input-group-text(style = "font-weight:bold",for='inputGroupSelect01') Trạng thái của phim
                              select#inputGroupSelect01.custom-select(name="cboxtrangthai")
                                  option() Choose...
                                  option(selected,value='Đang chiếu') Đang chiếu
                                  option(value='Sắp chiếu') Sắp chiếu
                                  option(value='Đã chiếu') Đã chiếu
                        else if phim.TrangThai == "Sắp chiếu"
                          .input-group.mb-3
                              .input-group-prepend
                                  label.input-group-text(style = "font-weight:bold",for='inputGroupSelect01') Trạng thái của phim
                              select#inputGroupSelect01.custom-select(name="cboxtrangthai")
                                  option() Choose...
                                  option(value='Đang chiếu') Đang chiếu
                                  option(selected,value='Sắp chiếu') Sắp chiếu
                                  option(value='Đã chiếu') Đã chiếu
                        else
                          .input-group.mb-3
                              .input-group-prepend
                                  label.input-group-text(style = "font-weight:bold",for='inputGroupSelect01') Trạng thái của phim
                              select#inputGroupSelect01.custom-select(name="cboxtrangthai")
                                  option(selected) Choose...
                                  option(value='Đang chiếu') Đang chiếu
                                  option(value='Sắp chiếu') Sắp chiếu
                                  option(selected,value='Đã chiếu') Đã chiếu

                    .col
                        .input-group.mb-3
                            .input-group-prepend
                                span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") ID Trailer
                            input.form-control(value= phim.Trailer,name="txtIDtrailer",placeholder ="Nhập Id video trailer từ youtube", type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')        
              .row  
                .col-md-6 
                  .input-group.mb-3
                      .input-group-prepend
                        span.input-group-text(style = "font-weight:bold") Hình phim
                      .custom-file
                        input.custom-file-input(id="inputGroupFile01", name="imgMovie", type='file',accept="image/png, image/gif, image/jpeg", onchange="setFileImageMovie(this)")
                        label.custom-file-label.file-name-image-movie(for='inputGroupFile01')
                  .imgContainer
                    img.imgMovie(src=(phim.Hinh && phim.Hinh != "" ? phim.Hinh : 'build/img/no-image-available-icon-vector.jpg'),  id="imgMoviePreview" ,width="265",height="300")  

                .col-md-6
                  .input-group.mb-3
                      .input-group-prepend
                        span.input-group-text(style = "font-weight:bold") Poster
                      .custom-file
                        input.custom-file-input(id="inputGroupFile01", name="imgPoster", type='file',accept="image/png, image/gif, image/jpeg", onchange="setFileImagePoster(this)")
                        label.custom-file-label.file-name-image-poster(for='inputGroupFile01') 
                  .imgContainer
                    img.imgMovie(src=(phim.AnhBia && phim.AnhBia != "" ? phim.AnhBia : 'build/img/no-image-available-icon-vector.jpg'),  id="imgMoviePoster", width="400",height="300")    
                    
                    
              <br>
        
        .card
          .card-body
            .row
              .col-md-6
                h5(style="font-weight:bold;") Phim được chiếu ở rạp
              .col-md-6.check-all-container
                .form-check.form-check-inline
                  input#inlineCheckbox1.form-check-input(type='checkbox',name="checkAll", value="false")
                  label.form-check-label Chọn tất cả rạp chiếu
            .row  
                .col 
                  each itemCinema in cinemas
                    .form-check.form-check-inline
                      input#inlineCheckbox1.form-check-input.chbCinema(type='checkbox',name= "chbCinema", value=itemCinema.ID)
                      label.form-check-label.lbNameCinema(id=itemCinema.ID,for='inlineCheckbox1')=itemCinema.TenRap
        .card
            .card-body
              .row
                h5(style="font-weight:bold;") Mô tả của phim 
              .row
                //- textarea(name='txtmota', style='width: 100%; height: 250px;')= phim.MoTa
                #editor(data-description=phim.MoTa)  
        .card
            .card-body
              .row
                .col(style="display:flex; justify-content:center;")
                  button.btn.btn-dark(style="width:200px;",type='button', id="btnhuy") Hủy bỏ
                .col(style="display:flex; justify-content:center;")  
                  button.btn.btn-success(style="width:200px;",type='button', onclick="onSubmitEditMovie()") Cập nhật thông tin phim
                
      #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content.dialog-loading
            .modal-body
              .d-flex.justify-content-center.align-item-center
                .spinner-border(role='status')
                  span.sr-only Loading...

      #notifyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Thông báo
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              span#modalTextMessage= messNotify
            .modal-footer
              button.btn.btn-primary(type='button' id='btnOK') Ok
                      
        
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js'
    , integrity='sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=='
    , crossorigin='anonymous'
    , referrerpolicy='no-referrer')
script(src='https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js')
script(src='https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js')  
script(src='https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js')
script(src="build/js/jsMovie.js")
script.
    document.getElementById("btnhuy").onclick=function(){
         window.location.replace("danhsachphim?page=1") 
    }
    let arrlb = document.getElementsByClassName("lbNameCinema")
    let arrinputchb = document.getElementsByClassName("chbCinema")
    let cinemas = !{JSON.stringify(phim.cinemas)}
    let countCinema = cinemas.length;

    for(let i = 0; i < countCinema; i++){
      for(let j = 0; j < arrlb.length; j++){
        if(arrinputchb[j].value == cinemas[i].id){
            arrinputchb[j].checked = true;
        }
      }
    }
 

 


