doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Danh sách ghế
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý ghế
              li.breadcrumb-item.active 
                a(href='#') Danh sách ghế
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      .row
        .col-md-6
          .card(style='width: 100%;')
            .card-body
              h4 Thêm ghế mới
              form#formAddSeat(action="/ghe/themghe", method="post") 
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold") Tên Rạp
                    input.form-control(name='txtNameCinema' ,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default', value=seats.TenRap, readonly)
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold") Mã phòng
                    input.form-control(name='txtIdRoom' ,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default', value=idRoom, readonly)
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold") Tên ghế
                    input.form-control(name='txtNameSeat' ,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default') 
                .btn-add-seat-container
                  button.btn.btn-dark.btn-add-back-to Hủy bỏ
                  button.btn.btn-success(type="button",onclick="onSubmit()") Thêm ghế
        .col-md-6
          .card(style='width: 100%;')
            .card-body
              h4 Tìm kiếm ghế
              .input-group.mb-3
                .input-group-prepend
                input.form-control(name='txtKeyWord' ,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default', placeholder="Search") 
              .input-group.mb-3
                select#exampleFormControlSelect1.form-control
                  option(value='') Lọc trạng thái
                  option(value='Trống') Trống
                  option(value='Đã đặt') Đã đặt
                  option Bị hư
              .btn-add-seat-container
                 button.btn.btn-success(onclick='search()') Tìm kiếm

      .card(style='width: 100%;')
        .card-body
          table.table.table-bordered
              thead
                th(scope='col') Mã ghế
                th(scope='col') Tên ghế
                th(scope='col') Trạng thái
                th(scope='col') Thao tác
              tbody(id='tblBodySeat')
                each seat in seats 
                  tr
                    td= seat.ID
                    td= seat.TenGhe
                    td
                      if seat.TrangThai == 'Bị hư'
                        select.form-control(id=`seat${seat.ID}`)
                          option(value='Trống') Trống
                          option(value='Đã đặt') Đã đặt
                          option(value='Bị hư' selected) Bị hư
                      else if seat.TrangThai == 'Đã đặt'
                        select.form-control(id=`seat${seat.ID}`)
                            option(value='Trống') Trống
                            option(value='Đã đặt' selected) Đã đặt
                            option(value='Bị hư' selected) Bị hư
                      else
                        select.form-control(id=`seat${seat.ID}`)
                            option(value='Trống' selected) Trống
                            option(value='Đã đặt') Đã đặt
                            option(value='Bị hư') Bị hư                      
                    td
                      button.btn.btn-success(onclick=`updateStatusSeat(${seat.ID}, ${idRoom})`) Cập nhật

      #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content.dialog-loading
            .modal-body
              .d-flex.justify-content-center.align-item-center
                .spinner-border(role='status')
                  span.sr-only Loading...

      #notifyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Thông báo
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              span#modalTextMessage= messNotify
            .modal-footer
              button.btn.btn-primary(type='button' id='btnOK') Ok
                          

              
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js'
    , integrity='sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=='
    , crossorigin='anonymous'
    , referrerpolicy='no-referrer')
script(src='build/js/jsSeat.js')