doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
    // SEARCH FORM
    form.form-inline.ml-3
      .input-group.input-group-sm
        input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
        .input-group-append
          button.btn.btn-navbar(type='submit')
            i.fas.fa-search
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Chi tiết hóa đơn
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý hóa đơn
              li.breadcrumb-item
                a(href='#') Danh sách hóa đơn
              li.breadcrumb-item.active 
                a(href='#') Chi tiết hóa đơn
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
        .row
          .col-md-5(style="display: flex;  align-items: center;justify-content: center;")
            img(src='https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-invoice-vector-icon-png-image_4165478.jpg', alt="photo",width="300",height="450", style="text-align: center;")
          .col-lg-7
           .card(style)
            .card-body
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Mã hóa đơn:
                    input.form-control(value=hoadon.ID, disabled ,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Tên khách hàng:
                    input.form-control(value=khachhang.HoTen, disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Phim:
                    input.form-control(value=phim.TenPhim,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Rạp:
                    input.form-control(value=rapphim.TenRap,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Phòng:
                    input.form-control(value=phong.TenPhong,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Thời lượng:
                    input.form-control(value=phim.ThoiGian + " phút",disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Ngày lập:
                    input.form-control(value=hoadon.Ngay,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Ngày chiếu:
                    input.form-control(value=lichchieu.Ngay,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Suất chiếu:
                    input.form-control(value=suatchieu.Gio,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Ghế:
                    input.form-control(value=ghe.TenGhe,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                .input-group.mb-3
                    .input-group-prepend
                        span#inputGroup-sizing-default.input-group-text(style="font-weight: bold; color:red;") Thành tiền:
                    input.form-control(value=hoadon.ThanhTien,disabled,type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
  
        
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')