doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Danh sách hóa đơn đặt vé
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý hóa đơn
              li.breadcrumb-item.active 
                a(href='#') Danh sách hóa đơn đặt vé
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      .row
        .col-md-12
          .card.card-search-bill-container
            .card-body
              .row
                .col-md-12
                  .row
                    .col-md-10
                      input.form-control(type='text', placeholder='Nhập tên khách hàng', name='txtNameCustomer')
                    .col-md-2
                      button.btn.btn-success(type='button', onclick='searchBill()') Tìm kiếm
                  
                  .row.filter-container
                    .col-md-6
                      .form-group.row
                        .col-md-3.title-filter-container
                          label Từ ngày:
                        .col-md-9
                          input.form-control(type='date', name='txtFromDate')
                    .col-md-6
                      .form-group.row
                        .col-md-3.title-filter-container
                          label Đến ngày:
                        .col-md-9
                          input.form-control(type='date', name='txtToDate')
      br             
      .row
        .col-md-12
          .card.card-bill
            .card-body
              table.table.table-bordered
                thead
                  tr
                    th(scope='col') ID
                    th(scope='col') Ngày lập
                    th(scope='col') Tên khách hàng
                    th(scope='col') Số lượng vé
                    th(scope='col') Thao tác 
                tbody#tblBill
                  each hoadon in danhsachhoadon
                    tr
                      th(scope='row')=hoadon.ID
                      td=hoadon.Ngay
                      td=hoadon.HoTen
                      td=hoadon.SoLuongVe
                      td
                        span 
                          a.btn.btn-info(href="/hoadon/chitiethoadon?idhoadon=" + hoadon.ID) Chi Tiết

              br
              .paging-center
                nav(aria-label='...')
                  ul.pagination#listPage
                    li.page-item
                      a.page-link(href=`/hoadon/danhsachhoadon?page=${parseInt(currentPage)-1}`, tabindex='-1') Trang trước
                    - for(let i = 1; i <= numberPage; i++){
                        if i == currentPage    
                          li.page-item.active
                            a.page-link(href=`/hoadon/danhsachhoadon?page=${i}`)= i
                        else
                          li.page-item
                            a.page-link(href=`/hoadon/danhsachhoadon?page=${i}`)= i  
                    -}
                     
              
                    li.page-item
                      a.page-link(href=`/hoadon/danhsachhoadon?page=${parseInt(currentPage)+1}`) Trang kế

      #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true', data-keyboard="false", data-backdrop="static")
        .modal-dialog.modal-dialog-centered
          .modal-content.dialog-loading
            .modal-body
              .d-flex.justify-content-center.align-item-center
                .spinner-border(role='status')
                  span.sr-only Loading...
      
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
script(src='build/js/jsSearchBill.js')
