doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Thêm Lịch chiếu
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý phim chiếu
              li.breadcrumb-item.active 
                a(href='#') Thêm lịch chiếu
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      form(action="xeplich", method="post")    
        .card
            .card-body
              .row
                 h5(style="font-weight:bold;") Thông tin lịch chiếu
              .row
                .col
                    .input-group.mb-3
                        .input-group-prepend
                            span#inputGroup-sizing-default.input-group-text(style = "color:red; font-weight:bold") Ngày chiếu
                        input.form-control(name= "txtngaylichchieu",type='date', aria-label='Default', aria-describedby='inputGroup-sizing-default')          
        .card
            .card-body
              .row
                h5(style="font-weight:bold;") Thông tin chi tiết lịch chiếu
              .row
                .col
                  .input-group.mb-3
                        .input-group-prepend
                            span#inputGroup-sizing-default.input-group-text(style = "color:red; font-weight:bold") Suất chiếu
                        input.form-control(name= "txtsuatchieu",type='time', aria-label='Default', aria-describedby='inputGroup-sizing-default')  
              .row
                .col
                    div(style="width:100%; overflow:auto; height:100%")
                        label(style="color:red",for='formGroupExampleInput') Rạp chiếu
                        br
                        each rap in danhsachrap
                            .form-check.form-check-inline
                                input#inlineCheckbox1.form-check-input(type='radio', name="rdorap",value=rap.ID, onclick ="clickedrap(event)")
                                label.form-check-label(for='inlineCheckbox1')=rap.TenRap
              .row
                .col
                    div(style="width:500px; overflow:auto; height:100%")
                        label(style="color:red",for='formGroupExampleInput') Phim đang chiếu
                        br
                        each phim in danhsachphimdangchieu
                            .form-check.form-check-inline
                                input#inlineCheckbox1.form-check-input(type='radio', name="rdophim",value=phim.ID)
                                label.form-check-label(name=phim.ID for='inlineCheckbox1')=phim.TenPhim
                .col
                    div(style="width:100%; overflow:auto; height:100%")
                        label(style="color:red",for='formGroupExampleInput') Phòng  
                        br
                        div(id="dataphong" style="width:100px; height:100px")
                          
        .card
            .card-body
              .row
                //- .col(style="display:flex; justify-content:center;")
                //-     button.btn.btn-success(id="btnaddthoigian", style="width:200px;",type='button') Add thời gian
                .col(style="display:flex; justify-content:center;")
                    button.btn.btn-success(style="width:200px;",type='submit') Thêm lịch chiếu
                .col(style="display:flex; justify-content:center;")
                    button.btn.btn-dark(style="width:200px;",type='button', id="btnhuy") Hủy bỏ

              
        
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
script.
    indexarrphim = 0;
    $("#btnaddthoigian").click(function(){
        let idphong = $("input[name=rdophong]:checked").val();
        console.log(idphong)
        let tenphong = $(`label[name=${idphong +"phong"}]`).text();
        let thoigian =$("input[name=txtsuatchieu]").val();
        let idtenphim = $("input[name=rdophim]:checked").val();
        let tenphim = $(`label[name=${idtenphim}]`).text();
        $("#tbody").html($("#tbody").html() + `<tr>
                                                  <th scope="row">1</th>
                                                  <td><input type="hidden" name="datathoigian[${indexarrphim}][idphim]" value="${idtenphim}"/> ${tenphim}</td>
                                                  <td><input type="hidden" name="datathoigian[${indexarrphim}][thoigian]" value="${thoigian}"/> ${thoigian}</td>
                                                  <td><input type="hidden" name="datathoigian[${indexarrphim}][idphong]" value="${idphong}"/> ${tenphong}</td>
                                                </tr>`)

        indexarrphim++;
    })
    document.getElementById("btnhuy").onclick=function(){
         window.location.replace("danhsachlichchieu?page=1") 
    }
  
    document.querySelector('.custom-file-input').addEventListener('change',function(e){
       var fileName = document.getElementById("inputGroupFile01").files[0].name;
       var nextSibling = e.target.nextElementSibling
       nextSibling.innerText = fileName
    })


    function clickedrap(event){
      $("#dataphong").html("");
      let target = event.target;
      $.ajax({
          type: 'GET',
          url: 'loadphongtheorap',
          data: {
            idrap: target.value
          },
          error: function(err) {
             console.log("Co loi")
          },
          dataType: 'json',
          success: function(data) {
            console.log(data.dataphong)
            let sl = data.dataphong.length;
            for(let i = 0; i < sl ; i++){
              $("#dataphong").html($("#dataphong").html() + `<div class="form-check form-check-inline">
                                                                 <input class="form-check-input" id="inlineCheckbox1" name="rdophong" type="radio" value=${data.dataphong[i].ID_Phong} />
                                                                 <label name=${data.dataphong[i].ID_Phong +"phong"} class="form-check-label" for="inlineCheckbox1">${data.dataphong[i].TenPhong}</label>
                                                            </div>`)
              
            }

           
            
          },
         
      }); 
    }
     







//- each phong in danhsachphong

//- .form-check.form-check-inline
//-   input#inlineCheckbox1.form-check-input(name="rdophong",type='radio', value=phong.ID)
//-   label.form-check-label(for='inlineCheckbox1')=phong.TenPhong

