doctype html
include ../header.pug
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.8.0/main.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css' integrity='sha512-BB0bszal4NXOgRP9MYCyVA0NNK2k1Rhr+8klY17rj4OhwTmqdPUQibKUDeHesYtXl7Ma2+tqC6c7FzYuHhw94g==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.8.0/main.min.js')
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Xếp lịch
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý lịch chiếu
              li.breadcrumb-item.active 
                a(href='#') Xếp lịch
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
        .container-fluid
            .row
                .col-md-3
                    .sticky-top.mb-3
                    .card
                        .card-header
                            h4.card-title Lịch chiếu theo Rạp
                        .card-body
                            // the events
                            #external-events
                                select#inputGroupSelect02.custom-select(name="dropdownCinema", onchange="loadMovieOfCinema(this)")
                                    //- option(value='') Chọn rạp chiếu
                                    each itemCinema in danhsachrap
                                      option(value=itemCinema.ID, selected)= itemCinema.TenRap
                    form#formSchedule             
                      .card
                          .card-header
                              h3.card-title Thêm lịch chiếu
                          .card-body
                              select#inputGroupSelect02.custom-select(name="dropdownMovie", onchange="validateDateSchedule(this)")
                                  option(selected='', value='') Chọn phim
                                  
                          .card-body
                              select#inputGroupSelect02.custom-select(name="dropdownRoom")
                                  option(selected='', value='') Chọn phòng
                          .card-body 
                              //- input.form-control(name= "txtSuatChieu",type='time', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                              .input-group.clockpicker(data-align='top' data-autoclose='true')
                                input.form-control(placeholder="Chọn suất chiếu" ,name= "txtSuatChieu", type='text', onblur="checkTime(this)")
                                span.input-group-addon
                                  span.glyphicon.glyphicon-time
                          .card-body
                            .row
                              .col-md-12
                                span Từ ngày 
                                input.form-control(id="txtNgayChieu",name= "txtNgayChieu",type='date', aria-label='Default', aria-describedby='inputGroup-sizing-default', onchange="setMinEndDate(this)")
                            br
                            .row
                              .col-md-12
                                span Đến ngày 
                                input.form-control(id="txtEndDateSchedult",name= "txtEndDateSchedult",type='date', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                          .card-body
                              button.btn.btn-success(style="width:200px;",type='button', onclick="onSubmit()") Thêm lịch chiếu               

                .col-md-9
                  .card.card-primary
                    .card-body.p-0        
                      #calendar
      

        #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content.dialog-loading
              .modal-body
                .d-flex.justify-content-center.align-item-center
                  .spinner-border(role='status')
                    span.sr-only Loading...

        #notifyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Thông báo
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                span#modalTextMessage= messNotify
              .modal-footer
                button.btn.btn-primary(type='button' id='btnOK') Ok
    // /.content
    // /.content-wrapper
include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// Bootstrap
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// jQuery UI
script(src='plugins/jquery-ui/jquery-ui.min.js')
// AdminLTE App
script(src='dist/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
// fullCalendar 2.2.5
script(src='plugins/moment/moment.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js'
    , integrity='sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=='
    , crossorigin='anonymous'
    , referrerpolicy='no-referrer')
script(src='https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/jquery-clockpicker.min.js' 
       integrity='sha512-x0qixPCOQbS3xAQw8BL9qjhAh185N7JSw39hzE/ff71BXg7P1fkynTqcLYMlNmwRDtgdoYgURIvos+NJ6g0rNg==' 
       crossorigin='anonymous' 
       referrerpolicy='no-referrer')
script(src='build/js/jsCalendar.js')
script(type='text/javascript').
  $('.clockpicker').clockpicker();